*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #222;
    color: white;
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden ;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), 
                url("../immagini-p1/foto_gruppo_ferrari.jpg");
    background-size: cover;
    background-attachment: fixed;
       
}

header h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 250%;
    color: #ffffff;
    margin-left: 7rem;
    margin-top: 1rem;
}


nav{
    padding: 0.5% 1% 0.5% 1%;
    width: fit-content;
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 100%;
    margin-top: -5.5rem;

}

button{
    background-color: transparent;
    border: none;
    font-size: 100%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    
}

header img#logo{
    width: 12%;
    height: auto;
    margin-top: -3rem;
    padding-top: 0;
    margin-left: -1rem;
}

div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    margin-bottom: auto;
}

div h2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    color: rgb(255, 238, 0);
    font-size: 160%;
    background-color: #030303c2;
    padding: 1rem;
    border-radius: 15px;
}

div p{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    background-color: #030303c2;
    padding: 1rem;
    border-radius: 15px;
}

@media (max-width: 768px){
    header img#logo{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: auto;
    }

    header h1{
        margin-left: 0;
        margin-top: 1rem;
    }

    nav{
        display: flex;
        flex-direction: column;
        gap: 0;
        font-size: 96%;
        text-align: end;
        padding-top: 3rem;
        
    }

    div{
        display: flex;
        flex-direction: column;
    }

    div h2{
        font-size: 120%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    div p{
        margin-left: auto;
        margin-right: auto;
        font-size: 80%;
        margin-bottom: 2rem;

    }
}